#button {
 padding:-10px;
 }
 #button li {
 display: inline;
 }
 #button li a {
 margin: 5px;
 font-family: Arial;
 font-size: 14px;
 text-decoration: none;
 float: right;
 padding: 15px;
 color: #fff;
 }
 .fondo{
 	height: 7px;
 	padding: 15px;
 }
 .text1{
 	font-family:Arial; 
 	margin:140px;
 	color: #fff;
 	text-align:center;
 }
 .text2{
 	font-family: Arial;
 	text-align: center;
 	color:#fff;
 	font-size: 15%;
 }